{{/*
{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ .Permalink }}",
  "name": "{{ .Site.Title }}",
   "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}"
    },
  "description": "{{ .Site.Params.description }}",
}
</script>
{{ end }}
{{ if .IsPage }}
    <script type="application/ld+json">
    {{if eq .Section "post"}}
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }}",
        "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",
        "url": "{{ .Permalink }}",
        "datePublished": "{{ time .Date }}",
        "description": "{{ .Description }}",
        "author": {
            "@type": "Person",
            "name": "{{ .Site.Params.author }}"
        }
     }
    {{ else }}
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
       "author": {
          "@type": "Person",
          "name": "{ .Site.Params.author }}"
        },
      "description": "{ .Site.Params.description }}",
    }
    {{ end }}
    </script>
{{ end }}
*/}}



{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
{{ range $index, $element := split $url "/" }}
{{ $.Scratch.Add "path" $element }}
{{ $.Scratch.Add "path" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
{{ end }}
{{ end }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          "@id": "{{ .Permalink }}",
          "name": "{{ .name }}"
        }
    }{{ end }}]
}
</script>
